body {
  font-family: sans-serif;
}
#app1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.logo {
  display: flex;
  width: 150px;
}
.logo-badge {
  display: inline-block;
  background-color: white;
  font-size: 35px !important;
  font-weight:700;
  line-height: 35px !important;
  margin: 5px;
  vertical-align: top;
  color: #333;
  padding: 10px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border: 2px solid lightgray;
  page-break-after: always;
}
.html2canvas-container {
  visibility: visible !important;
  left: 100px !important;
}
.logo-badge img {
  margin: auto;
  width: 200px;
}
.title{
text-align: center;
}
#div1 {
  border: 1px solid black;
  padding: 20px;
  margin-top: 23px;
}
button{
background:brown !important;
border-width: 0ch;
padding:12px;
margin-top:10px;
color:white;
font-size:20px;
border-radius: 40px;

}
.btn-image{
  background:brown !important;
  border-width: 0ch;
  padding:12px;
  margin-top:10px;
  color:white;
  font-size:20px;
  border-radius: 40px;
  
  }